nav {
  background-color: #000;
  height: 70px;
  position: relative;
  border-top: solid #222 40px;
  padding: 0 10%;

  ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    
    li {
      display: inline-block;
      margin: 0 10px 0;
    }

    li a {
      text-decoration: none;
    }

    li:hover > ul {
      display: block;
    }

    ul {
      position: absolute;
      display: none;
      top: 125%;
      z-index: 2;
    }

    ul li {
      display: block;
      background-color: #000;
      color: #000;
      border: 1px solid #222;
      position: relative;
      left: -25%;
      padding: 4px;
    }

    ul li a:hover {
      color: #0ff;
      font-weight: bold;
    }
  }

  a {
    font-size: 16px;
    border-radius: 15%;
    color: #fff;
    text-decoration: none;
    padding: 4px;
    text-transform: capitalize;
  }

  a:hover {
    color: #0ff;
  }  

  img {    
    display: inline-block; 
    width: 52px;
    height: 100%;
  }

  h1 {    
    display: inline-block;
    color: #0ff;
    font-family: Syncopate;
    position: relative;
    top: -8px;
    right: 61px;
  }

  .tanklid1 { 
    width: 80%;
    height: 50px;
    position: absolute;
    left: 50%;
    top: -40%;
    margin-left: -40%;
    background-color: #000;
    border-radius: 15px;
    z-index: 0;
  }
  .tanklid2 {     
    width: 90%;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -10%;
    margin-left: -45%;
    background-color: #001;
    border-radius: 20px;
    z-index: 0;
  }

  .logowrapper {
    position: relative;
    display: inline-block;
    float: right;
    z-index: 1;
  }
}