.main-wrapper {
	padding: 0 10%;		
  	background: linear-gradient(#0ff, #00f);
  	height: 100%;
  	position: relative;

  	h2 {
  		margin: 0;
  		padding: 10px 0 0;
  	}

  	ul {
  		margin: 0;
  	}
}