.main-wrapper {
	padding: 0 10%;		
  background: linear-gradient(#0ff, #1e5fa7);
  position: relative;

  h2 {      
    font-family: Syncopate;
    font-size: 30px;
  	margin: 0;
  	padding: 20px 0 10px;
  }

  p,
  ul {
    margin: 0;
  }
}