* {
  font-family: Asap;
  }

html {
  height: 100%;
}

html, 
body {
  margin: 0;
  padding: 0;
}

body {
  background-size: 100%;
  height: 100%;
}

div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear-fix {
  clear: both;
  height: 0; 
  width: 100%; 
}
